---
http_interactions:
- request:
    method: get
    uri: http://wsdl-crt.cert.sabre.com/sabreXML1.0.00/usg/SessionCreateRQ.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"2437-1332860800000"
      Last-Modified:
      - Tue, 27 Mar 2012 15:06:40 GMT
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<definitions xmlns=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsd1=\"http://www.opentravel.org/OTA/2002/11\" xmlns:tns=\"https://webservices.sabre.com/websvc\"
        xmlns:eb=\"http://www.ebxml.org/namespaces/messageHeader\" xmlns:wsse=\"http://schemas.xmlsoap.org/ws/2002/12/secext\"
        targetNamespace=\"https://webservices.sabre.com/websvc\">\n\t<types>\n\t\t<xsd:schema
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n\t\t\t<xsd:import namespace=\"http://www.opentravel.org/OTA/2002/11\"
        schemaLocation=\"SessionCreateRQRS.xsd\"/>\n\t\t\t<xsd:import namespace=\"http://www.ebxml.org/namespaces/messageHeader\"
        schemaLocation=\"msg-header-2_0.xsd\"/>\n\t\t\t<xsd:import namespace=\"http://schemas.xmlsoap.org/ws/2002/12/secext\"
        schemaLocation=\"wsse.xsd\"/>\n\t\t</xsd:schema>\n\t</types>\n\t<message name=\"GetSessionCreateInput\">\n\t\t<part
        name=\"header\" element=\"eb:MessageHeader\"/>\n\t\t<part name=\"header2\"
        element=\"wsse:Security\"/>\n\t\t<part name=\"body\" element=\"xsd1:SessionCreateRQ\"/>\n\t</message>\n\t<message
        name=\"GetSessionCreateOutput\">\n\t\t<part name=\"header\" element=\"eb:MessageHeader\"/>\n\t\t<part
        name=\"header2\" element=\"wsse:Security\"/>\n\t\t<part name=\"body\" element=\"xsd1:SessionCreateRS\"/>\n\t</message>\n\t<portType
        name=\"SessionCreatePortType\">\n\t\t<operation name=\"SessionCreateRQ\">\n\t\t\t<input
        message=\"tns:GetSessionCreateInput\"/>\n\t\t\t<output message=\"tns:GetSessionCreateOutput\"/>\n\t\t</operation>\n\t</portType>\n\t<binding
        name=\"SessionCreateSoapBinding\" type=\"tns:SessionCreatePortType\">\n\t\t<soap:binding
        style=\"document\" transport=\"http://schemas.xmlsoap.org/soap/http\"/>\n\t\t<operation
        name=\"SessionCreateRQ\">\n\t\t\t<soap:operation soapAction=\"OTA\"/>\n\t\t\t<input>\n\t\t\t\t<soap:header
        message=\"tns:GetSessionCreateInput\" part=\"header\" use=\"literal\"/>\n\t\t\t\t<soap:header
        message=\"tns:GetSessionCreateInput\" part=\"header2\" use=\"literal\"/>\n\t\t\t\t<soap:body
        parts=\"body\" use=\"literal\"/>\n\t\t\t</input>\n\t\t\t<output>\n\t\t\t\t<soap:header
        message=\"tns:GetSessionCreateOutput\" part=\"header\" use=\"literal\"/>\n\t\t\t\t<soap:header
        message=\"tns:GetSessionCreateOutput\" part=\"header2\" use=\"literal\"/>\n\t\t\t\t<soap:body
        parts=\"body\" use=\"literal\"/>\n\t\t\t</output>\n\t\t</operation>\n\t</binding>\n\t<service
        name=\"SessionCreateRQService\">\n\t\t<port name=\"SessionCreatePortType\"
        binding=\"tns:SessionCreateSoapBinding\">\n\t\t\t<soap:address location=\"https://sws-crt.cert.sabre.com/\"/>\n\t\t</port>\n\t</service>\n</definitions>\n"
  recorded_at: Wed, 28 Mar 2012 16:43:28 GMT
- request:
    method: post
    uri: https://sws-crt.cert.sabre.com/
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="https://webservices.sabre.com/websvc"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:eb="http://www.ebxml.org/namespaces/messageHeader" xmlns:xlinx="http://www.w3.org/1999/xlink"><env:Header><eb:MessageHeader
        SOAP-ENV:mustUnderstand="1" eb:version="2.0"><eb:ConversationId>joe@example.com</eb:ConversationId><eb:From><eb:PartyId
        type="urn:x12.org:IO5:01">example.com</eb:PartyId></eb:From><eb:To><eb:PartyId
        type="urn:x12.org:IO5:01">webservices.sabre.com</eb:PartyId></eb:To><eb:CPAId><IPCC></eb:CPAId><eb:Service
        eb:type="sabreXML">Session</eb:Service><eb:Action>SessionCreateRQ</eb:Action><eb:MessageData><eb:MessageId>mid:20120328-124328@example.com</eb:MessageId><eb:RefToMessageId
        xsi:nil="true"/><eb:Timestamp>2012-03-28T12:43:28Z</eb:Timestamp></eb:MessageData></eb:MessageHeader><wsse:Security
        xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/12/secext"><wsse:UsernameToken><wsse:Username><USERNAME></wsse:Username><wsse:Password><PASSWORD></wsse:Password><Organization><IPCC></Organization><Domain>DEFAULT</Domain></wsse:UsernameToken></wsse:Security></env:Header><env:Body><SessionCreateRQ><POS><Source
        PseudoCityCode="<IPCC>"></Source></POS></SessionCreateRQ></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"OTA"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Soapaction:
      - ! '""'
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Header><eb:MessageHeader
        xmlns:eb="http://www.ebxml.org/namespaces/messageHeader" eb:version="1.0"
        soap-env:mustUnderstand="1"><eb:From><eb:PartyId eb:type="URI">webservices.sabre.com</eb:PartyId></eb:From><eb:To><eb:PartyId
        eb:type="URI">example.com</eb:PartyId></eb:To><eb:CPAId><IPCC></eb:CPAId><eb:ConversationId>joe@example.com</eb:ConversationId><eb:Service
        eb:type="sabreXML">Session</eb:Service><eb:Action>ErrorRS</eb:Action><eb:MessageData><eb:MessageId>5dc7d382-600a-4f34-a3e9-a83c21984514@152</eb:MessageId><eb:Timestamp>2012-03-28T16:40:35</eb:Timestamp><eb:RefToMessageId>mid:20120328-124328@example.com</eb:RefToMessageId></eb:MessageData></eb:MessageHeader><wsse:Security
        xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/12/secext"/></soap-env:Header><soap-env:Body><soap-env:Fault><faultcode>soap-env:Server.SystemFailure</faultcode><faultstring>Unable
        to connect to ICE security system : 547</faultstring><detail><StackTrace>com.sabre.universalservices.base.exception.ApplicationICEException:
        errors.authentication.USG_SECURITY_ICE_ERROR</StackTrace></detail></soap-env:Fault></soap-env:Body></soap-env:Envelope>'
  recorded_at: Wed, 28 Mar 2012 16:43:42 GMT
[...]
- request:
    method: get
    uri: http://webservices.sabre.com/wsdl/sabreXML1.0.00/usg/SessionCreateRQ.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"2442-1344340031000"
      Last-Modified:
      - Tue, 07 Aug 2012 11:47:11 GMT
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<definitions[...]
- request:
    method: post
    uri: https://webservices.sabre.com/websvc
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:eb="http://www.ebxml.org/namespaces/messageHeader"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xlinx="http://www.w3.org/1999/xlink"><env:Header><eb:MessageHeader SOAP-ENV:mustUnderstand="1"
        eb:version="2.0"><eb:ConversationId>joe@example.com</eb:ConversationId><eb:From><eb:PartyId
        type="urn:x12.org:IO5:01">example.com</eb:PartyId></eb:From><eb:To><eb:PartyId
        type="urn:x12.org:IO5:01">webservices.sabre.com</eb:PartyId></eb:To><eb:CPAId><IPCC></eb:CPAId><eb:Service
        eb:type="sabreXML">Session</eb:Service><eb:Action>SessionCreateRQ</eb:Action><eb:MessageData><eb:MessageId>mid:20120819-223801@example.com</eb:MessageId><eb:RefTo[...]
- request:
    method: get
    uri: http://wsdl-crt.cert.sabre.com/wsdl/tpfc/OTA_CancelLLSRQ.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: US-ASCII
      string: ! "<!--\n  Licensed to the Apache Software Foundation (ASF) under one
        or more\n  contributor license agreements. [...]
[...]
