---
http_interactions:
- request:
    method: get
    uri: http://wsdl-crt.cert.sabre.com/sabreXML1.0.00/usg/SessionCreateRQ.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"2437-1332860800000"
      Last-Modified:
      - Tue, 27 Mar 2012 15:06:40 GMT
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<definitions xmlns=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsd1=\"http://www.opentravel.org/OTA/2002/11\" xmlns:tns=\"https://webservices.sabre.com/websvc\"
        xmlns:eb=\"http://www.ebxml.org/namespaces/messageHeader\" xmlns:wsse=\"http://schemas.xmlsoap.org/ws/2002/12/secext\"
        targetNamespace=\"https://webservices.sabre.com/websvc\">\n\t<types>\n\t\t<xsd:schema
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n\t\t\t<xsd:import namespace=\"http://www.opentravel.org/OTA/2002/11\"
        schemaLocation=\"SessionCreateRQRS.xsd\"/>\n\t\t\t<xsd:import namespace=\"http://www.ebxml.org/namespaces/messageHeader\"
        schemaLocation=\"msg-header-2_0.xsd\"/>\n\t\t\t<xsd:import namespace=\"http://schemas.xmlsoap.org/ws/2002/12/secext\"
        schemaLocation=\"wsse.xsd\"/>\n\t\t</xsd:schema>\n\t</types>\n\t<message name=\"GetSessionCreateInput\">\n\t\t<part
        name=\"header\" element=\"eb:MessageHeader\"/>\n\t\t<part name=\"header2\"
        element=\"wsse:Security\"/>\n\t\t<part name=\"body\" element=\"xsd1:SessionCreateRQ\"/>\n\t</message>\n\t<message
        name=\"GetSessionCreateOutput\">\n\t\t<part name=\"header\" element=\"eb:MessageHeader\"/>\n\t\t<part
        name=\"header2\" element=\"wsse:Security\"/>\n\t\t<part name=\"body\" element=\"xsd1:SessionCreateRS\"/>\n\t</message>\n\t<portType
        name=\"SessionCreatePortType\">\n\t\t<operation name=\"SessionCreateRQ\">\n\t\t\t<input
        message=\"tns:GetSessionCreateInput\"/>\n\t\t\t<output message=\"tns:GetSessionCreateOutput\"/>\n\t\t</operation>\n\t</portType>\n\t<binding
        name=\"SessionCreateSoapBinding\" type=\"tns:SessionCreatePortType\">\n\t\t<soap:binding
        style=\"document\" transport=\"http://schemas.xmlsoap.org/soap/http\"/>\n\t\t<operation
        name=\"SessionCreateRQ\">\n\t\t\t<soap:operation soapAction=\"OTA\"/>\n\t\t\t<input>\n\t\t\t\t<soap:header
        message=\"tns:GetSessionCreateInput\" part=\"header\" use=\"literal\"/>\n\t\t\t\t<soap:header
        message=\"tns:GetSessionCreateInput\" part=\"header2\" use=\"literal\"/>\n\t\t\t\t<soap:body
        parts=\"body\" use=\"literal\"/>\n\t\t\t</input>\n\t\t\t<output>\n\t\t\t\t<soap:header
        message=\"tns:GetSessionCreateOutput\" part=\"header\" use=\"literal\"/>\n\t\t\t\t<soap:header
        message=\"tns:GetSessionCreateOutput\" part=\"header2\" use=\"literal\"/>\n\t\t\t\t<soap:body
        parts=\"body\" use=\"literal\"/>\n\t\t\t</output>\n\t\t</operation>\n\t</binding>\n\t<service
        name=\"SessionCreateRQService\">\n\t\t<port name=\"SessionCreatePortType\"
        binding=\"tns:SessionCreateSoapBinding\">\n\t\t\t<soap:address location=\"https://sws-crt.cert.sabre.com/\"/>\n\t\t</port>\n\t</service>\n</definitions>\n"
  recorded_at: Wed, 28 Mar 2012 04:52:45 GMT
- request:
    method: post
    uri: https://sws-crt.cert.sabre.com/
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="https://webservices.sabre.com/websvc"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:eb="http://www.ebxml.org/namespaces/messageHeader" xmlns:xlinx="http://www.w3.org/1999/xlink"><env:Header><eb:MessageHeader
        SOAP-ENV:mustUnderstand="1" eb:version="2.0"><eb:ConversationId>joe@example.com</eb:ConversationId><eb:From><eb:PartyId
        type="urn:x12.org:IO5:01">example.com</eb:PartyId></eb:From><eb:To><eb:PartyId
        type="urn:x12.org:IO5:01">webservices.sabre.com</eb:PartyId></eb:To><eb:CPAId><IPCC></eb:CPAId><eb:Service
        eb:type="sabreXML">Session</eb:Service><eb:Action>SessionCreateRQ</eb:Action><eb:MessageData><eb:MessageId>mid:20120328-005245@example.com</eb:MessageId><eb:RefToMessageId
        xsi:nil="true"/><eb:Timestamp>2012-03-28T00:52:45Z</eb:Timestamp></eb:MessageData></eb:MessageHeader><wsse:Security
        xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/12/secext"><wsse:UsernameToken><wsse:Username><USERNAME></wsse:Username><wsse:Password><PASSWORD></wsse:Password><Organization><IPCC></Organization><Domain>DEFAULT</Domain></wsse:UsernameToken></wsse:Security></env:Header><env:Body><SessionCreateRQ><POS><Source
        PseudoCityCode="<IPCC>"></Source></POS></SessionCreateRQ></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"OTA"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Soapaction:
      - ! '""'
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<soap-env:Envelope xmlns:soap-env=\"http://schemas.xmlsoap.org/soap/envelope/\"><soap-env:Header><eb:MessageHeader
        xmlns:eb=\"http://www.ebxml.org/namespaces/messageHeader\" eb:version=\"1.0\"
        soap-env:mustUnderstand=\"1\"><eb:From><eb:PartyId eb:type=\"URI\">webservices.sabre.com</eb:PartyId></eb:From><eb:To><eb:PartyId
        eb:type=\"URI\">example.com</eb:PartyId></eb:To><eb:CPAId><IPCC></eb:CPAId><eb:ConversationId>joe@example.com</eb:ConversationId><eb:Service
        eb:type=\"sabreXML\">Session</eb:Service><eb:Action>SessionCreateRS</eb:Action><eb:MessageData><eb:MessageId>93e5bfb1-d984-4161-b905-8515262bb838@152</eb:MessageId><eb:Timestamp>2012-03-28T04:49:38</eb:Timestamp><eb:RefToMessageId>mid:20120328-005245@example.com</eb:RefToMessageId></eb:MessageData></eb:MessageHeader><wsse:Security
        xmlns:wsse=\"http://schemas.xmlsoap.org/ws/2002/12/secext\"><wsse:BinarySecurityToken
        valueType=\"String\" EncodingType=\"wsse:Base64Binary\">Shared/IDL:IceSess\\/SessMgr:1\\.0.IDL/Common/!ICESMS\\/ACPCRTC!ICESMSLB\\/CRT.LB!-3939125904507854976!1444378!0</wsse:BinarySecurityToken></wsse:Security></soap-env:Header><soap-env:Body><SessionCreateRS
        xmlns=\"http://www.opentravel.org/OTA/2002/11\" version=\"1\" status=\"Approved\">\t<ConversationId>joe@example.com</ConversationId></SessionCreateRS></soap-env:Body></soap-env:Envelope>"
  recorded_at: Wed, 28 Mar 2012 04:52:45 GMT
- request:
    method: get
    uri: http://wsdl-crt.cert.sabre.com/sabreXML1.0.00/tpf/OTA_HotelAvailLLS1.11.1RQ.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"2455-1332860610000"
      Last-Modified:
      - Tue, 27 Mar 2012 15:03:30 GMT
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ![...]
[...]
- request:
    method: get
    uri: http://webservices.sabre.com/wsdl/sabreXML1.0.00/usg/SessionCreateRQ.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"2442-1344340031000"
      Last-Modified:
      - Tue, 07 Aug 2012 11:47:11 GMT
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<definitions[...]
- request:
    method: post
    uri: https://webservices.sabre.com/websvc
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:eb="http://www.ebxml.org/namespaces/messageHeader"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xlinx="http://www.w3.org/1999/xlink"><env:Header><eb:MessageHeader SOAP-ENV:mustUnderstand="1"
        eb:version="2.0"><eb:ConversationId>joe@example.com</eb:ConversationId><eb:From><eb:PartyId
        type="urn:x12.org:IO5:01">example.com</eb:PartyId></eb:From><eb:To><eb:PartyId
        type="urn:x12.org:IO5:01">webservices.sabre.com</eb:PartyId></eb:To><eb:CPAId><IPCC></eb:CPAId><eb:Service
        eb:type="sabreXML">Session</eb:Service><eb:Action>SessionCreateRQ</eb:Action><eb:MessageData><eb:MessageId>mid:20120819-223751@example.com</eb:MessageId><eb:RefTo[...]
- request:
    method: get
    uri: http://wsdl-crt.cert.sabre.com/wsdl/tpfc/OTA_HotelAvailLLS2.0.0RQ.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"2783-1344018632000"
      Last-Modified:
      - Fri, 03 Aug 2012 18:30:32 GMT
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<wsdl:definitions xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns=\"http://schemas.xmlsoap.org/wsdl/\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:sws_xsd=\"http://webservices.sabre.com/sabreXML/2011/10\"
        xmlns:sws=\"https://webservices.sabre.com/websvc\" xmlns:eb=\"http://www.ebxml.org/namespaces/messageHeader\"
        xmlns:wsse=\"http://schemas.xmlsoap.org/ws/2002/12/secext\" targetNamespace=\"https://webservices.sabre.com/websvc\">\r\n\t<wsdl:types>\r\n\t\t<xsd:schema>\r\n\t\t\t<xsd:import
        namespace=\"http://webservices.sabre.com/sabreXML/2011/10\" schemaLocation=\"OTA_HotelAvailLLS2.0.0RQRS.xsd\"/>\r\n\t\t\t<xsd:import
        namespace=\"http://www.ebxml.org/namespaces/messageHeader\" schemaLocation=\"msg-header-2_0.xsd\"/>\r\n\t\t\t<xsd:import
        namespace=\"http://schemas.xmlsoap.org/ws/2002/12/secext\" schemaLocation=\"wsse.xsd\"/>\r\n\t\t\t<xsd:import
        namespace=\"http://services.sabre.com/STL/v01\" schemaLocation=\"STL_For_SabreProtocol_v.1.2.0.xsd\"/>\r\n\t\t</xsd:schema>\r\n\t</wsdl:types>\r\n\t<wsdl:message
        name=\"OTA_HotelAvailInput\">\r\n\t\t<part name=\"header\" element=\"eb:MessageHeader\"/>\r\n\t\t<part
        name=\"header2\" element=\"wsse:Security\"/>\r\n\t\t<wsdl:part name=\"body\"
        element=\"sws_xsd:OTA_HotelAvailRQ\"/>\r\n\t</wsdl:message>\r\n\t<wsdl:message
        name=\"OTA_HotelAvailOutput\">\r\n\t\t<part name=\"header\" element=\"eb:MessageHeader\"/>\r\n\t\t<part
        name=\"header2\" element=\"wsse:Security\"/>\r\n\t\t<wsdl:part name=\"body\"
        element=\"sws_xsd:OTA_HotelAvailRS\"/>\r\n\t</wsdl:message>\r\n\t<wsdl:portType
        name=\"OTA_HotelAvailPortType\">\r\n\t\t<wsdl:operation name=\"OTA_HotelAvailRQ\">\r\n\t\t\t<wsdl:input
        message=\"sws:OTA_HotelAvailInput\"/>\r\n\t\t\t<wsdl:output message=\"sws:OTA_HotelAvailOutput\"/>\r\n\t\t</wsdl:operation>\r\n\t</wsdl:portType>\r\n\t<wsdl:binding
        name=\"OTA_HotelAvailSoapBinding\" type=\"sws:OTA_HotelAvailPortType\">\r\n\t\t<soap:binding
        style=\"document\" transport=\"http://schemas.xmlsoap.org/soap/http\"/>\r\n\t\t<wsdl:operation
        name=\"OTA_HotelAvailRQ\">\r\n\t\t\t<soap:operation soapAction=\"OTA_HotelAvailLLSRQ\"/>\r\n\t\t\t<wsdl:input>\r\n\t\t\t\t<soap:header
        message=\"sws:OTA_HotelAvailInput\" part=\"header\" use=\"literal\"/>\r\n\t\t\t\t<soap:header
        message=\"sws:OTA_HotelAvailInput\" part=\"header2\" use=\"literal\"/>\r\n\t\t\t\t<soap:body
        parts=\"body\" use=\"literal\"/>\r\n\t\t\t</wsdl:input>\r\n\t\t\t<wsdl:output>\r\n\t\t\t\t<soap:header
        message=\"sws:OTA_HotelAvailOutput\" part=\"header\" use=\"literal\"/>\r\n\t\t\t\t<soap:header
        message=\"sws:OTA_HotelAvailOutput\" part=\"header2\" use=\"literal\"/>\r\n\t\t\t\t<soap:body
        parts=\"body\" use=\"literal\"/>\r\n\t\t\t</wsdl:output>\r\n\t\t</wsdl:operation>\r\n\t</wsdl:binding>\r\n\t<wsdl:service
        name=\"OTA_HotelAvailService\">\r\n\t\t<wsdl:port name=\"OTA_HotelAvailPortType\"
        binding=\"sws:OTA_HotelAvailSoapBinding\">\r\n\t\t\t<soap:address location=\"https://sws-crt.cert.sabre.com/\"/>\r\n\t\t</wsdl:port>\r\n\t</wsdl:service>\r\n</wsdl:definitions>\r\n"
  recorded_at: Mon, 20 Aug 2012 02:37:52 GMT
[...]
